body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#artwork {
  object-fit: cover;
  height: 500px;
  width: 500px;
  filter: brightness(50%);
  z-index: 1 !important;
}

#artwork:hover ~ #play_btn {
  opacity: 1 !important;
}

#artist_name:hover ~ #play_btn {
  opacity: 1 !important;
}

#play_btn:hover{
  opacity: 1 !important;
  cursor: pointer;
}

#similar:hover ~ #play_btn {
  opacity: 1 !important;
}

.related_artists:hover ~ #play_btn {
  opacity: 1 !important;
}

#album_container {
  width: 500px;
  height: 500px;
  justify-content: center;
  margin: auto;
  margin-top: -535px;
  z-index: 3 !important;
}

#artist_name {
  margin-top: -450px;
  position: relative;
  z-index: 2 !important;
  color: white;
  font-size: 50px;
}

#play_btn {
  color: white;
  top: 60px;
  width: 100px;
  margin: auto;
  position: relative;
  opacity: 0;
  cursor: default;
  z-index: 2 !important;
  font-size: 80px;
}

#similar {
  color: white;
  z-index: 2 !important;
  position: relative;
  top: 80px;
}

.related_artists {
  position: relative;
  top: 80px;
  z-index: 2 !important;
  display: flex;
  justify-content: center;
}

.comp_wrapper {
  width: 120px;
  margin: 0px 5px;
}

#comp_pic {
  object-fit: cover;
  height: 80px;
  width: 80px;
  border-radius: 50px;
}

#comp_name {
  color: white;
  margin-top: 0px;
  font-size: 14px;
}